<html>
    <head>
        <title>Film Recommendation</title>
    </head>

    <style type="text/css">
    	.header{
    		background-color:#B0C4DE;
    		text-align: center;
    	}

    	table{
    		width:100%;
    		border:0;
    		border-spacing:0;
		}

		td{
			padding:30px;
			width : 87%;
		}

		h4{padding-top: 2%;}

		.isi{height: 390px;}

		.cari{text-align: center;}

		.recom{color: darkgray;}

    .hasil{
      padding-left:100px; 
    }
    </style>

    <body>
        <table>
            <tr>
                <td class="header">
                	MAGNIFYING<br><b>MOVIE RECOMMENDER</b>
                </td>
            </tr>
        </table>

        <table class="isi">
            <tr>
                <td>
                   <form method="get" name="sort-btn" action="/bot_search/">
                       <div class="cari">
                       		<input type="text" name="query" placeholder="Search">
	                        <button type="submit">Search</button>
                       		{% if ans %}
                       		<h4 class="recom">Recommendation Film for Film {{query}} :</h4>
                       </div>
                       <div class="hasil">
                       		<h4>{{ans}}</h4>
                       		<h4>{{ans1}}</h4>
                       {% endif %}
                       </div>
                  </form>
                </td>
            </tr>
        </table><br>

        <table>
            <tr>
                <td class="header">
                	VIKA PUTRI ARIYANTI<br><b>GUNADARMA UNIVERSITY</b>
                </td>
            </tr>
        </table>
    </body>
</html>
